.img-padding{
    padding-top: 15px;
    padding-bottom: 20px;
}

.selfie{
    max-width: 50%;
    max-height: 50%;
    -webkit-box-shadow: 13px 10px 42px -6px rgba(0,0,0,0.52);
    -moz-box-shadow: 13px 10px 42px -6px rgba(0,0,0,0.52);
    box-shadow: 13px 10px 42px -6px rgba(0,0,0,0.52);
}

p {
    line-height: 28px;
}

html {
  font-size: 14px;
}
