html { 
  background: url(src/background_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p 
{
	font-family: "Bodoni MT";
	font-size: 32px;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: left;
}

a:link 
{
    color: #FFFFFF;
}

a:visited
{  
    color: #A0A0A0;
}

h1 
{
    text_align: center;
    font-family: "Bodoni MT";
    font-size: 30px;
}

.textBG
{
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(160, 160, 160, .7);*/
}

.footer
{
    padding: 10px;
}